body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff; /* Body background white */
    margin: 0;
    padding: 0;
}

.container, .fastpasscontainer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Header Styles  */
.page-header {
    padding: 0px 0;
    text-align: left;
    background-color: #005288; /* Header background is transparent */
    color: white;
    padding: 20px 0;
}

    .page-header img.info-image {
        width: 250px; /* size of the top image */
        float: right;
        margin-left: 20px;
        width: auto;
        height: auto;
        margin: 0 auto;
        max-width: 50%;
    }

    .page-header p {
        font-size: 1.25em; /*  the text bigger */
        color: yellow; /*  text color  yellow */
        margin-right: 30px; /*  margin image */
    }

/* Main Content Styling */
.fastpasscontainer {
    background-color: #005288; /* blue for the main content background */
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

/* Section styles - content background to blue */
.fastpass-info, .fastpass-usage {
    background-color: #005288; /* Set section backgrounds to blue */
    color: white; /* text color to white for contrast */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

h2 {
    color: yellow; /* Title color set to white for contrast */
}

p, ol {
    line-height: 1.6;
}

/* Image styling within content sections */
img.logo {
    display: block;
    margin: 10px auto;
    width: 200px; /* Logo presentation */
}

/* List Styling */
ol {
    padding-left: 20px;
}

    ol li {
        margin-bottom: 10px;
    }

/* Responsive Design */
@media (max-width: 768px) {
    .container, .fastpasscontainer {
        width: 95%;
        padding: 10px;
    }

    .page-header img.info-image {
        width: 100%; /*  top image*/
        max-width: 400px; /* top image  */
    }
}
