
/* General body styling */
html {
    font-size: 22px;
    color: #111B40;
    
}


body {
    min-height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem;
    background-image: url('../~/images/blueScreen.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 75%;
    background-position: center;
}

.header-logo {
    max-width: 200px; /* Makes the first image small */
    padding: 3px;
    background-color: rgb(255, 191, 39);
    border-radius: 5px; /* Optional: Rounds the corners of the image background */
}

.welcome-message {
    margin-left: 1.5px; /* Adjust size as necessary */
}

.home-content1 .p2 {
    text-align: center; /* Centers your paragraph */
    /* ... other styles for p2 ... */
}

.learnmore { /* Corrected class name to match HTML */
    display: inline-block;
    background-color: #ffbf27; /* Southwest's yellow color */
    color: #111B40; /* Dark blue color for the text */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-weight: bold; /* Makes the link text bold */
}

.learn-more:hover {
    background-color: #e6ac00;
}


.main-content {
    background-color: #111B40; /* SouthWest blue color */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the content */
    justify-content: space-between; /* Space the content out evenly */
}
/* Navigation bar styling */
.navbar {
    background-color: #25559b; /* A slightly different shade of blue for visual interest */
    overflow: hidden;
}

    .navbar ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

        .navbar ul li {
            float: left;
        }


            .navbar ul li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

                .navbar ul li a.active,
                .navbar ul li a:hover {
                    background-color: #ffbf00; /* A vibrant yellow for active/hover states */
                }


/* Main content styling */
.main-content {
    padding: 20px;
    margin-top: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Footer styling */
footer {
    background-color: #005288; 
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Responsive design adjustments */
@media screen and (max-width: 600px) {
    .navbar ul li {
        float: none;
    }
}
