@model LoginModel
@{
    ViewData["Title"] = "Login";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>

<h1>Login</h1>

<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnurl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="login">
        <div class="row">
            <label asp-for="Username"></label>
            <input asp-for="Username" />
            <span asp-validation-for="Username"></span>
        </div>
        <div class="row">
            <label asp-for="Password"></label>
            <input asp-for="Password" />
            <span asp-validation-for="Password"></span>
        </div>
        <div>
            <label asp-for="RememberMe"></label>
            <input asp-for="RememberMe" />
            <span asp-validation-for="RememberMe"></span>
        </div>
        <button class="login-button" type="submit" value="Login">Login</button>
    </div>    
    
</form>

