<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Team Flight Attendant">
    <meta name="description" content="Learn more about SouthWest FastPass Airline and its revolutionary Fast Pass service.">
    <link rel="stylesheet" href="~/css/index.css">
    <title>SouthWest Fast Airline - About Us</title>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
</head>
<body>
    

    <div class="About-content">
        <h2>Learn More About SouthWest Fast Airlines</h2>
        <img src="~/images/SWLOGO2.jpeg" alt="SWFastAir" class="header-logo">
        <section>
            <p></p>
        </section>

        <main class="main-content">
            <section class="home-content1">
                <p class="p2">
                    Enjoy the Swift Service of Southwest Fast Air: Travel Quickly, Travel Conveniently!
                </p>
                <a class="learnmore" asp-controller="Home" asp-action="About">
                    LearnMore
                </a>


            </section>

            <section class="home-content2">
                <div class="text-content">
                    <p class="p2">
                        With your Fast Pass, you're in command of your travels!
                        Pick out any dates that work for you to breeze through the airport with faster access.
                        The Southwest Fast Airline Pass is tailored to elevate your travel routine, granting you
                        expedited service that caters to your need for quick and effortless passage. It's all about making your journey as smooth as possible, with you at the helm.
                    </p>
                    <p class="p2">
                        Step into a new chapter of travel with us,
                        where every minute is valuable and each voyage is a pleasure.
                        The SouthWest Fast Airline Fast Pass represents more than just a service — it's a promise to enhance
                        your experience with Southwest Airlines, ensuring smooth sailing from start to finish. Unveil a fresh
                        standard of traveling convenience with SW Fast Air — because your adventure is significant.
                    </p>
                </div>
                <img src="~/images/girl.jpg" alt="Customer enjoying travel" class="content-image">
            </section>
        </main>


</body>
</html>
