<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Team Flight Attendant">
    <meta name="description" content="Learn more about SouthWest FastPass Airline and its revolutionary Fast Pass service.">
    <link rel="stylesheet" href="~/css/index.css">
    <title>SouthWest Fast Airline - About Us</title>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
</head>
<body>
    

    <div class="About-content">
        <h2>Learn More About SouthWest Fast Airlines</h2>
        <img src="~/images/SWLOGO2.jpeg" alt="SWFastAir" class="header-logo">
        <section>
            <p></p>
        </section>

        <section>
            <p>What is the Southwest Fast Pass? The Southwest Fast Pass is 
                your golden ticket to a streamlined travel experience. Gone are the days of waiting in
                long lines and enduring tedious processes. With our Fast Pass, you'll enjoy a host of exclusive
                benefits designed to make your journey smoother and more enjoyable.</p>

        </section>

        <section>
        
            <p>
                Benefits of Southwest Fast Pass: <br>
                &#8226; Faster Lines: Say goodbye to queues! With Southwest Fast Pass, you'll breeze through
                check-in, security, and boarding. <br>
                &#8226; Priority Service: Your comfort is our priority. Experience top-notch customer service. <br>
                &#8226; Effortless Booking: Booking your travel with Southwest Fast Air is a seamless experience. <br>
                &#8226; Exclusive Offers: As a Southwest Fast Pass holder, you'll gain access to exclusive offers and perks.
            </p>
        </section>
    </div>

</body>
</html>
