<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="Team Flight Attendants">
    <meta name="description" content="Learn more about SouthWest Fast Airlines!">
    <link rel="stylesheet" href="~/css/index.css">
    <title>SouthWest Fast Airline - About Us</title>
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
</head>
<body>
    <div class="About-content">
        <h2>Learn More About SouthWest Fast Airlines</h2>
        <img src="~/images/SWLOGO2.jpeg" alt="SWFastAir" class="header-logo">
    </div>
    <section class="home-content2">
        <div class="text-content">
            <p class="p2">
                With your Fast Pass, you're in command of your travels!
                Pick out any dates that work for you to breeze through the airport with faster access.
                The Southwest Fast Airlines Pass is tailored to elevate your travel routine, granting you
                expedited service that caters to your need for quick and effortless passage. It's all about making your journey as smooth as possible, with you at the helm.
            </p>
            <p class="p2">
                Step into a new chapter of travel with us,
                where every minute is valuable and each voyage is a pleasure.
                The SouthWest Fast Airlines Fast Pass represents more than just a service — it's a promise to enhance
                your experience with Southwest Airlines, ensuring smooth sailing from start to finish. Unveil a fresh
                standard of traveling convenience with Southwest Fast Airlines — because your adventure is significant.
            </p>
        </div>
        <img src="~/images/girl.jpg" alt="Customer enjoying travel" class="content-image">
    </section>

</body>
</html>
