
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Team Flight Attendant">
	<meta name="description" content="Flight Attendants Fast Air revolutionizes travel with its Fast Pass program, offering expedited services for a seamless and efficient flying experience.">
	<link rel="stylesheet" href="~/css/index.css ">
	<title>Flight Attendants - Southwest Airlines</title>
	<link rel="icon" href="Resources/images/favicon.ico" type="image/x-icon">
	<style>

	</style>


</head>
<body>
	<div>
		<img src="Resources/images/" alt="SouthWest FastPass" style="position: relative; left: 30px;">
	</div>




	<section class="main-content">
		<h1>Welcome to Our Flight Attendants Page</h1>
		<p>
			Southwest Airlines takes pride in its dedicated and passionate
			flight attendants who play a pivotal role in ensuring the safety, comfort,
			and satisfaction of our passengers. Our flight attendants are the heart of
			our in-flight service, embodying our values and commitment to outstanding customer service.
			Enhance your travel experience with our seat selection and FastPass options.
			Seat selection is available online 24 hours before departure,
			allowing you to choose your preferred seat through our check-in process on the
			website or mobile app. For those seeking convenience and efficiency at the airport,
			our FastPass option expedites your security check, making your journey smoother.
			Add FastPass to your booking online, during the reservation process,
			or by contacting customer service.
		</p>
	</section>
	

</body>
</html>
@* @{
	ViewData["Title"] = "Login";
}
<head>
	<link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
</head>

<div id="loginContainer" class="login">
	<div class="row" id="username">
		<h6>Username</h6>
		<input />
	</div>
	<div class="row" id="password">
		<h6>Password</h6>
		<input />
	</div>
	<button class="login-button">Log in</button>
</div> *@