<!-- By Saraswoti -->

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Southwest Airlines">
    <meta name="description" content="Explore career opportunities as a Flight Attendant with Southwest Airlines. Join our team and soar high with a rewarding career that takes you places.">
    <title>Flight Attendants - Southwest Airlines</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<section class="index-body">
    <header class="container header-container">
        <img src="~/images/swa_logo.png" alt="Southwest Airlines Logo" class="header-logo">
        <h1 class="welcome-message">Welcome to Southwest Fast Airlines</h1>
    </header>

    <main>
        <section class="main-content">
            <p>
                Southwest Fastpass Airline prioritizes safety, comfort, and customer satisfaction through dedicated service excellence.
                Enhance your travel experience with our seat selection and FastPass options. Seat selection is
                available online 24 hours before departure, allowing you to choose your preferred
                seat through our check-in process on the website. For those seeking convenience
                and efficiency at the airport, our FastPass option expedites your security check,
                making your journey smoother. Add FastPass to your booking online, during the
                reservation process, or by contacting customer service.
            </p>
            <a href="/Home/About" class="learn-more">Learn More</a>
        </section>

        <section class="home-content2">
            <div class="text-content">
                <p class="p2">
                    With your Fast Pass, you're in command of your travels! Pick out any
                    dates that work for you to breeze through the airport with faster access.
                    The Southwest Fast Airline Pass is tailored to elevate your travel routine,
                    granting you expedited service that caters to your need for quick and
                    effortless passage. It's all about making your journey as smooth as possible,
                    with you at the helm.
                </p>
            </div>
            <img src="images/girl.jpg" alt="Customer enjoying travel" class="content-image">
        </section>
    </main>
</section>
