﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta name="description" content="Explore career opportunities as a Flight Attendant with Southwest Airlines.
	Join our team and soar high with a rewarding career that takes you places.">
    <title>Flight Attendants - Southwest Airlines</title>
    <link rel="stylesheet" href="~/css/index.css ">

    <link rel="icon" href="Resources/images/favicon.ico" type="image/x-icon">
</head>
<body>
    <div class="header">
    </div>

    <nav class="navbar">
        <ul>

            <li><a href="flight_attendants.html" class="active">Flight Attendants</a></li>

        </ul>
    </nav>

    <section class="main-content">
        <h1>Welcome to Our Flight Attendants Page</h1>
        <p>
            Southwest Airlines takes pride in its dedicated and passionate
            flight attendants who play a pivotal role in ensuring the safety, comfort,
            and satisfaction of our passengers. Our flight attendants are the heart of
            our in-flight service, embodying our values and commitment to outstanding customer service.
            Enhance your travel experience with our seat selection and FastPass options.
            Seat selection is available online 24 hours before departure,
            allowing you to choose your preferred seat through our check-in process on the
            website or mobile app. For those seeking convenience and efficiency at the airport,
            our FastPass option expedites your security check, making your journey smoother.
            Add FastPass to your booking online, during the reservation process,
            or by contacting customer service.
        </p>
    </section>


    <footer>
        <p>© 2024 Southwest AirlinesFastpass Project - Property of Jude and Sara</p>
    </footer>
</body>
</html>
