@{
    ViewData["Title"] = "Login";
}
<head>
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
</head>

<div id="loginContainer" class="login">
    <div class="row" id="username">
        <h6>Username</h6>
        <input />
    </div>
    <div class="row" id="password">
        <h6>Password</h6>
        <input />
    </div>
    <button class="login-button">Log in</button>
</div>