p.unavailable-msg {
    color: red;
}

div .seat-map-grid {
    display: flex;
    align-items: center;
    flex-direction: column;
}

    div .seat-map-grid > .first-class {
    }

    div .seat-map-grid > .econ-class {
    }

    div .seat-map-grid > .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        align-content: center;
        justify-content: center;
        background-color: #f1f1f1;
    }

    div .seat-map-grid > .first-class > .row > .cell {
        margin-bottom: 15px;
        padding: 0px;
    }

.selected {
    border-style: solid;
}

div .seat-map-grid > .first-class > .row > .seat {
    width: 50px;
    text-align: center;
}

    div .seat-map-grid > .first-class > .row > .seat.available > i {
        color: #0094ff;
    }

    div .seat-map-grid > .first-class > .row > .seat.unavailable > i {
        color: #ff0000;
    }

div .seat-map-grid > .first-class > .row > .aisle-number {
    width: 50px;
    text-align: center;
}

div .seat-map-grid > .first-class > .row > .seat > i {
}

div .seat-map-grid > .key {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between
}

div .seat-map-grid > .available.key > i {
    width: 50px;
    text-align: center;
    margin-top: 5px;
    color: #0094ff;
}

div .seat-map-grid > .available.key > p {
    width: 50px;
    text-align: center;
}

div .seat-map-grid > .unavailable.key > i {
    width: 50px;
    text-align: center;
    margin-top: 5px;
    color: #ff0000;
}

div .seat-map-grid > .unavailable.key > p {
    width: 50px;
    text-align: center;
}

div .seat-map-grid > .econ-class > .row > .cell {
    margin-bottom: 15px;
    padding: 0px;
}

div .seat-map-grid > .econ-class > .row > .seat {
    width: 36px;
    text-align: center;
}

    div .seat-map-grid > .econ-class > .row > .seat.available > i {
        color: #0094ff;
    }

    div .seat-map-grid > .econ-class > .row > .seat.unavailable > i {
        color: #ff0000;
    }

div .seat-map-grid > .econ-class > .row > .aisle-number {
    width: 36px;
    text-align: center;
}

div .seat-map-grid > .econ-class > .row > .seat > i {
}
